body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    margin: auto; 
}

th {
     font-size: 13px;
     color: #999999;
     font-weight: bold;
     text-align: center;
     border-bottom: 1px solid #DDDDDD;
 }

 
.team-name {
     font-size: 14px;
     color: #666666;
     font-weight: bold;
     text-align: left;
 }

 .points {
     font-size: 14px;
     color:black ;
     font-weight: bold;
     text-align: center;
 }

 td {
     font-size: 14px;
     color: #666666;
     text-align: center;
 }
